doctype html
html(ng-app='SkripsiTwitter')
  head
    meta(http-equiv='content-type', content='text/html;charset=UTF-8')
    meta(charset='utf-8')
    title Admin - Twisp
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no')
    link(rel='apple-touch-icon', href='../pages/ico/60.png')
    link(rel='apple-touch-icon', sizes='76x76', href='../pages/ico/76.png')
    link(rel='apple-touch-icon', sizes='120x120', href='../pages/ico/120.png')
    link(rel='apple-touch-icon', sizes='152x152', href='../pages/ico/152.png')
    link(rel='icon', type='image/x-icon', href='favicon.ico')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-touch-fullscreen', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='default')
    meta(content='', name='description')
    meta(content='', name='author')
    link(href='../assets/plugins/pace/pace-theme-flash.css', rel='stylesheet', type='text/css')
    link(href='../assets/plugins/boostrapv3/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='../assets/plugins/font-awesome/css/font-awesome.css', rel='stylesheet', type='text/css')
    link(href='../assets/plugins/jquery-scrollbar/jquery.scrollbar.css', rel='stylesheet', type='text/css', media='screen')
    link(href='../pages/css/pages-icons.css', rel='stylesheet', type='text/css')
    link.main-stylesheet(href='../pages/css/pages.css', rel='stylesheet', type='text/css')
    //if lte IE 9
      link(href='../assets/plugins/codrops-dialogFx/dialog.ie.css', rel='stylesheet', type='text/css', media='screen')
  body.fixed-header.menu-pin.sidebar-visible
    // BEGIN SIDEBPANEL
    nav.page-sidebar(data-pages='sidebar')
      // BEGIN SIDEBAR MENU HEADER
      .sidebar-header
        em(style='color:#fff; font-size:1.3em; padding-top:15px;') <strong>Skripsi</strong>Twitter
        //- img.brand(src='../assets/img/logo_white.png', alt='logo', data-src='../assets/img/logo_white.png', data-src-retina='../assets/img/logo_white_2x.png', width='78', height='22')
        //- .sidebar-header-controls
        //-   button.btn.btn-link.visible-lg-inline(type='button', data-toggle-pin='sidebar')
        //-     i.fa.fs-12
      // END SIDEBAR MENU HEADER
      // START SIDEBAR MENU
      .sidebar-menu
        // BEGIN SIDEBAR MENU ITEMS
        ul.menu-items

          li.m-t-30(style='padding: 0 30px; display:flex; align-items:center; justify-content:flex-start;')
            span.thumbnail-wrapper.d50.circular.inline.m-t-5
              if user.profile.picture
                img(src='#{user.profile.picture}', width='50', height='50')
              else
                img(src='#{user.gravatar(60)}', width='50', height='50')
            div(style='display: flex;flex-direction: column;align-items: center;justify-content: center;width: 80%;height: 100%;')
              span(id="username", style="color:#fff") #{user.profile.name || user.email || user.id}
              span(id="role") #{user.status}
          li.m-t-20(style='border: 1px solid rgba(255,255,2555, .1);margin-left: 30px;margin-right: 30px;')
          li.m-t-20(ui-sref-active='active')
            a.detailed(ui-sref='dashboard')
              span.title Dashboard
              span.details Application Stats
            span.icon-thumbnail
              i.fa.fa-home
          li(ui-sref-active='active')
            a.detailed(ui-sref='crawl')
              span.title Crawl
              span.details Crawl a Pages
            span.icon-thumbnail
              i.fa.fa-newspaper-o
          li(ui-sref-active='active')
            a.detailed(href='javascript:;')
              span.title Categories
              span.details List Categories
              span.arrow
            span.icon-thumbnail
              i.fa.fa-list-ul
            ul.sub-menu
              li
                a(ui-sref='kategori-view') All Categories
                span.icon-thumbnail
                  i.fa.fa-table
              li
                a(ui-sref='kategori-add') Add Categories
                span.icon-thumbnail
                  i.fa.fa-plus
          li(ui-sref-active='active')
            a.detailed(href='javascript:;')
              span.title Preprocessing
              span.details Text Preprocessing
              span.arrow
            span.icon-thumbnail
              i.fa.fa-copy
            ul.sub-menu
              li
                a(ui-sref='prepros-view') All Articles
                span.icon-thumbnail
                  i.fa.fa-file-code-o
              li
                a(ui-sref='prepros-result') Text Result
                span.icon-thumbnail
                  i.fa.fa-file-word-o

          li(ui-sref-active='active')
            a.detailed(ui-sref='user')
              span.title User
              span.details User Management
            span.icon-thumbnail
              i.fa.fa-group

          li(ui-sref-active='active', style='position: absolute; bottom:0; width: 100%; padding: 15px 0; background:#272B35')
            a.detailed(href='/logout')
              span.title Logout
              span.details Exit Application
            span.icon-thumbnail
              i.pg-power

        .clearfix
      // END SIDEBAR MENU
    // END SIDEBAR
    // END SIDEBPANEL
    // START PAGE-CONTAINER
    .page-container
      // START HEADER
      .header
        // START MOBILE CONTROLS
        .container-fluid.relative
          // LEFT SIDE
          .pull-left.full-height.visible-sm.visible-xs
            // START ACTION BAR
            .header-inner
              a.btn-link.toggle-sidebar.visible-sm-inline-block.visible-xs-inline-block.padding-5(href='#', data-toggle='sidebar')
                span.icon-set.menu-hambuger
            // END ACTION BAR
          .pull-center.hidden-md.hidden-lg
            .header-inner
              .brand.inline
                img(src='../assets/img/logo.png', alt='logo', data-src='../assets/img/logo.png', data-src-retina='../assets/img/logo_2x.png', width='78', height='22')
          // RIGHT SIDE
          .pull-right.full-height.visible-sm.visible-xs
            // START ACTION BAR
            .header-inner
              a.btn-link.visible-sm-inline-block.visible-xs-inline-block(href='#', data-toggle='quickview', data-toggle-element='#quickview')
                span.icon-set.menu-hambuger-plus
            // END ACTION BAR
        // END MOBILE CONTROLS
        .pull-left.sm-table.hidden-xs.hidden-sm
          .header-inner
            .brand.inline
              img(src='../assets/img/logo.png', alt='logo', data-src='../assets/img/logo.png', data-src-retina='../assets/img/logo_2x.png', width='78', height='22')
      // END HEADER
      // START PAGE CONTENT WRAPPER
      .page-content-wrapper
        // START PAGE CONTENT
        .content
          // START JUMBOTRON
          .jumbotron(data-pages='parallax')
            .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
              .inner
                // START BREADCRUMB
                ul.breadcrumb
                  li
                    p &nbsp;
                // END BREADCRUMB
          // END JUMBOTRON
          // START CONTAINER FLUID
          .container-fluid.container-fixed-lg
            // BEGIN PlACE PAGE CONTENT HERE
            ui-view
            // END PLACE PAGE CONTENT HERE
          // END CONTAINER FLUID
        // END PAGE CONTENT
      // END PAGE CONTENT WRAPPER
    // END PAGE CONTAINER
    // START OVERLAY
    .overlay.hide(data-pages='search')
      // BEGIN Overlay Content !
      .overlay-content.has-results.m-t-20
        // BEGIN Overlay Header !
        .container-fluid
          // BEGIN Overlay Logo !
          img.overlay-brand(src='../assets/img/logo.png', alt='logo', data-src='../assets/img/logo.png', data-src-retina='../assets/img/logo_2x.png', width='78', height='22')
          // END Overlay Logo !
          // BEGIN Overlay Close !
          a.close-icon-light.overlay-close.text-black.fs-16(href='#')
            i.pg-close
          // END Overlay Close !
        // END Overlay Header !
      // END Overlay Content !
    // END OVERLAY
    // BEGIN VENDOR JS
    script(src='../assets/plugins/pace/pace.min.js', type='text/javascript')
    script(src='../assets/plugins/jquery/jquery-1.11.1.min.js', type='text/javascript')
    script(src='../assets/plugins/modernizr.custom.js', type='text/javascript')
    script(src='../assets/plugins/boostrapv3/js/bootstrap.min.js')
    script(src='../assets/plugins/jquery/jquery-easy.js')
    script(src='../assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js')
    // END VENDOR JS
    // BEGIN CORE TEMPLATE JS
    script(src='../pages/js/pages.min.js')
    script(src='../lib/angular/angular.js')
    script(src='../lib/angular-ui-router/release/angular-ui-router.js')
    script(src='../lib/angular-sanitize/angular-sanitize.js')
    //- script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-sanitize.js')

    // END CORE TEMPLATE JS
    // BEGIN PAGE LEVEL JS
    script(src='../app/admin/app.js', type='text/javascript')
    script(src='../app/admin/dashboard/dashboard.ctrl.js')
    script(src='../app/admin/crawl/crawl.ctrl.js')
    script(src='../app/admin/crawl/crawl.service.js')
    script(src='../app/admin/kategori/kategori.ctrl.js')
    script(src='../app/admin/kategori/kategori.service.js')
    script(src='../app/admin/prepros/prepros.ctrl.js')
    script(src='../app/admin/prepros/prepros.service.js')
    script(src='../app/admin/user/user.ctrl.js')
    script(src='../js/main.js')



    // END PAGE LEVEL JS
