extends layout

block content
  .container.flex.flex-center.flex-vcenter
    form(method='POST', style='width:400px; display: flex;flex-direction: column;justify-content: center;align-items: center;')
      img.img-circle(src='https://unsplash.it/120/120?image=582', style='margin-bottom:20px;')
      input(type='hidden', name='_csrf', value=_csrf)
      input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)

      input.form-control(type='password', name='password', id='password', placeholder='Password', required)

      button.col-sm-12.btn.btn-primary(style="margin-top:30px",type='submit')
        i.fa.fa-user
        | Login



