<h1>Kategori</h1>
<input type="text" name="category" ng-model="kategoriAdd.categoryName">
<button type="button" class="btn btn-danger" ng-click="kategoriAdd.save(kategoriAdd.categoryName)">Save
</button>
