<h1>View Kategori</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <table class="table table-hover">
        <thead>
          <th>No</th>
          <th>Category Name</th>
          <th>Action</th>
        </thead>
        <tr ng-repeat="category in kategoriView.categories">
          <td>{{$index + 1}}</td>
          <td>{{ category.categoryName }}</td>
          <td><button class="btn btn-danger">x</button></td>
        </tr>
      </table>

    </div>
  </div>
</div>
