extends ../layout

block content
  .page-header
    h3 Profile Information

  form.form-horizontal(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', value='#{user.email}')
    .form-group
      label.col-sm-3.control-label(for='name') Name
      .col-sm-7
        input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')
    .form-group
      label.col-sm-3.control-label(for='gender') Gender
      .col-sm-6
        label.radio.col-sm-3
          input(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')
          span Male
        label.radio.col-sm-3
          input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
          span Female
        label.radio.col-sm-3
          input(type='radio', checked=user.profile.gender=='other', name='gender', value='other', data-toggle='radio')
          span Other
    .form-group
      label.col-sm-3.control-label(for='location') Location
      .col-sm-7
        input.form-control(type='text', name='location', id='location', value='#{user.profile.location}')
    .form-group
      label.col-sm-3.control-label(for='website') Website
      .col-sm-7
        input.form-control(type='text', name='website', id='website', value='#{user.profile.website}')
    .form-group
      label.col-sm-3.control-label(for='gravatar') Gravatar
      .col-sm-4
        img(src="#{user.gravatar()}", class='profile', width='100', height='100')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencil
          | Update Profile

  .page-header
    h3 Change Password

  form.form-horizontal(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='password') New Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password')
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn-primary(type='submit')
          i.fa.fa-lock
          | Change Password

  //- .page-header
  //-   h3 Delete Account

  //- form.form-horizontal(action='/account/delete', method='POST')
  //-   .form-group
  //-     p.col-sm-offset-3.col-sm-4 You can delete your account, but keep in mind this action is irreversible.
  //-     input(type='hidden', name='_csrf', value=_csrf)
  //-     .col-sm-offset-3.col-sm-4
  //-       button.btn.btn-danger(type='submit')
  //-         i.fa.fa-trash
  //-         | Delete my account

  //- .page-header
  //-   h3 Linked Accounts
  //- .form-horizontal
  //-   .form-group
  //-     .col-sm-offset-3.col-sm-4
  //-       if user.instagram
  //-         p: a.text-danger(href='/account/unlink/instagram') Unlink your Instagram account
  //-       else
  //-         p: a(href='/auth/instagram') Link your Instagram account
  //-     .col-sm-offset-3.col-sm-4
  //-       if user.google
  //-         p: a.text-danger(href='/account/unlink/google') Unlink your Google account
  //-       else
  //-         p: a(href='/auth/google') Link your Google account
  //-     .col-sm-offset-3.col-sm-4
  //-       if user.facebook
  //-         p: a.text-danger(href='/account/unlink/facebook') Unlink your Facebook account
  //-       else
  //-         p: a(href='/auth/facebook') Link your Facebook account
  //-     .col-sm-offset-3.col-sm-4
  //-       if user.twitter
  //-         p: a.text-danger(href='/account/unlink/twitter') Unlink your Twitter account
  //-       else
  //-         p: a(href='/auth/twitter') Link your Twitter account
  //-     .col-sm-offset-3.col-sm-4
  //-       if user.github
  //-         p: a.text-danger(href='/account/unlink/github') Unlink your GitHub account
  //-       else
  //-         p: a(href='/auth/github') Link your GitHub account
  //-     .col-sm-offset-3.col-sm-4
  //-       if user.linkedin
  //-         p: a.text-danger(href='/account/unlink/linkedin') Unlink your LinkedIn account
  //-       else
  //-         p: a(href='/auth/linkedin') Link your LinkedIn account
