<div class="container-fluid container-fixed-lg card">
  <h1>DASHBOARD</h1>
  <input type="text" ng-model="dashboard.data.tweet" class="form-control">
  <button class="btn btn-primary" ng-click="dashboard.postTweet(dashboard.data)">Tweet</button>

  <input type="text" name="" id="" ng-model="dashboard.schedule.tweet">
  <input type="date" name="" id="" ng-model="dashboard.schedule.date">
  <input type="time" name="" id="" ng-model="dashboard.schedule.time">
  <button class="btn btn-primary" ng-click="dashboard.saveTweet(dashboard.schedule)"></button>
</div>
