.container.bg(id="bg1", style="display: flex;width: 100%;height: 100%;position: absolute;top: 0;left: 0;background: #ccc;justify-content: center;align-items: center;")
  .row(style="width:30%")
    .col-sm-12.text-center
      h1 Twikipedia
      p.lead Lorem ipsum dolor sit amet.
      hr
      .row
        .col-sm-8.col-sm-offset-2
          .form-group
            a.btn.btn-block.btn-twitter.btn-large.btn-social(href='/auth/twitter')
              i.fa.fa-twitter
              | Sign in with Twitter
script.
  function run(interval, frames) {
    var int = 1;

    function func() {
      document.querySelector('.bg').id = 'bg'+int;
      int++;
      if(int === frames) { int = 1; }
    }
    var swap = window.setInterval(func, interval);
  }
  run(3000, 4);
