//- .navbar.navbar-default.navbar-fixed-top
//-   .container
//-     .navbar-header
//-       button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
//-         span.sr-only Toggle navigation
//-         span.icon-bar
//-         span.icon-bar
//-         span.icon-bar
//-       a.navbar-brand(href='/')
//-         i.fa.fa-comments-o
//-         | Twisp
//-     .collapse.navbar-collapse
//-       ul.nav.navbar-nav
//-         li(class=(title == 'API Examples') ? 'active' : undefined)
//-           a(href='/api') API Examples
//-         li(class=(title == 'Contact') ? 'active' : undefined)
//-           a(href='/contact') Contact
//-       ul.nav.navbar-nav.navbar-right
//-         li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
//-           a.dropdown-toggle(href='#', data-toggle='dropdown')
//-             if user.profile.picture
//-               img(src='#{user.profile.picture}')
//-             else
//-               img(src='#{user.gravatar(60)}')
//-             | #{user.profile.name || user.email || user.id}&nbsp;
//-             i.caret
//-           ul.dropdown-menu
//-             li
//-               a(href='/account') My Account
//-             li.divider
//-             li
//-               a(href='/logout') Logout

nav.page-sidebar(data-pages='sidebar')
  // BEGIN SIDEBAR MENU HEADER
  .sidebar-header
    em(style='color:#fff; font-size:1.3em; padding-top:15px;') <strong>Skripsi</strong>Twitter
    //- img.brand(src='../assets/img/logo_white.png', alt='logo', data-src='../assets/img/logo_white.png', data-src-retina='../assets/img/logo_white_2x.png', width='78', height='22')
    //- .sidebar-header-controls
    //-   button.btn.btn-link.visible-lg-inline(type='button', data-toggle-pin='sidebar')
    //-     i.fa.fs-12
  // END SIDEBAR MENU HEADER
  // START SIDEBAR MENU
  .sidebar-menu
    // BEGIN SIDEBAR MENU ITEMS
    ul.menu-items

      li.m-t-30(style='padding: 0 30px; display:flex; align-items:center; justify-content:flex-start;')
        span.thumbnail-wrapper.d50.circular.inline.m-t-5
          if user.profile.picture
            img(src='#{user.profile.picture}', width='50', height='50')
          else
            img(src='#{user.gravatar(60)}', width='50', height='50')
        div(style='display: flex;flex-direction: column;align-items: center;justify-content: center;width: 80%;height: 100%;')
          span(id="username", style="color:#fff") #{user.profile.name || user.email || user.id}
          span(id="role") #{user.status}
      li.m-t-20(style='border: 1px solid rgba(255,255,2555, .1);margin-left: 30px;margin-right: 30px;')
      li.m-t-20(ui-sref-active='active')
        a.detailed(ui-sref='dashboard')
          span.title Dashboard
          span.details Application Stats
        span.icon-thumbnail
          i.fa.fa-home
      li(ui-sref-active='active')
        a.detailed(ui-sref='crawl')
          span.title Crawl
          span.details Crawl a Pages
        span.icon-thumbnail
          i.fa.fa-newspaper-o
      li(ui-sref-active='active')
        a.detailed(href='javascript:;')
          span.title Categories
          span.details List Categories
          span.arrow
        span.icon-thumbnail
          i.fa.fa-list-ul
        ul.sub-menu
          li
            a(ui-sref='kategori-view') All Categories
            span.icon-thumbnail
              i.fa.fa-table
          li
            a(ui-sref='kategori-add') Add Categories
            span.icon-thumbnail
              i.fa.fa-plus
      li(ui-sref-active='active')
        a.detailed(href='javascript:;')
          span.title Preprocessing
          span.details Text Preprocessing
          span.arrow
        span.icon-thumbnail
          i.fa.fa-copy
        ul.sub-menu
          li
            a(ui-sref='prepros-view') All Articles
            span.icon-thumbnail
              i.fa.fa-file-code-o
          li
            a(ui-sref='prepros-result') Text Result
            span.icon-thumbnail
              i.fa.fa-file-word-o

      li(ui-sref-active='active')
        a.detailed(ui-sref='user')
          span.title User
          span.details User Management
        span.icon-thumbnail
          i.fa.fa-group

      li(ui-sref-active='active', style='position: absolute; bottom:0; width: 100%; padding: 15px 0; background:#272B35')
        a.detailed(href='/logout')
          span.title Logout
          span.details Exit Application
        span.icon-thumbnail
          i.pg-power

    .clearfix
  // END SIDEBAR MENU
// END SIDEBAR
// END SIDEBPANEL
// START PAGE-CONTAINER
.page-container
  // START HEADER
  .header
    // START MOBILE CONTROLS
    .container-fluid.relative
      // LEFT SIDE
      .pull-left.full-height.visible-sm.visible-xs
        // START ACTION BAR
        .header-inner
          a.btn-link.toggle-sidebar.visible-sm-inline-block.visible-xs-inline-block.padding-5(href='#', data-toggle='sidebar')
            span.icon-set.menu-hambuger
        // END ACTION BAR
      .pull-center.hidden-md.hidden-lg
        .header-inner
          .brand.inline
            img(src='../assets/img/logo.png', alt='logo', data-src='../assets/img/logo.png', data-src-retina='../assets/img/logo_2x.png', width='78', height='22')
      // RIGHT SIDE
      .pull-right.full-height.visible-sm.visible-xs
        // START ACTION BAR
        .header-inner
          a.btn-link.visible-sm-inline-block.visible-xs-inline-block(href='#', data-toggle='quickview', data-toggle-element='#quickview')
            span.icon-set.menu-hambuger-plus
        // END ACTION BAR
    // END MOBILE CONTROLS
    .pull-left.sm-table.hidden-xs.hidden-sm
      .header-inner
        .brand.inline
          img(src='../assets/img/logo.png', alt='logo', data-src='../assets/img/logo.png', data-src-retina='../assets/img/logo_2x.png', width='78', height='22')
  // END HEADER
  // START PAGE CONTENT WRAPPER
  .page-content-wrapper
    // START PAGE CONTENT
    .content
      // START CONTAINER FLUID
      ui-view
      
        // BEGIN PlACE PAGE CONTENT HERE
        
        // END PLACE PAGE CONTENT HERE
      // END CONTAINER FLUID
    // END PAGE CONTENT
  // END PAGE CONTENT WRAPPER
// END PAGE CONTAINER
// START OVERLAY
.overlay.hide(data-pages='search')
  // BEGIN Overlay Content !
  .overlay-content.has-results.m-t-20
    // BEGIN Overlay Header !
    .container-fluid
      // BEGIN Overlay Logo !
      img.overlay-brand(src='../assets/img/logo.png', alt='logo', data-src='../assets/img/logo.png', data-src-retina='../assets/img/logo_2x.png', width='78', height='22')
      // END Overlay Logo !
      // BEGIN Overlay Close !
      a.close-icon-light.overlay-close.text-black.fs-16(href='#')
        i.pg-close
      // END Overlay Close !
    // END Overlay Header !
  // END Overlay Content !
// END OVERLAY
