doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Twikipedia
    link(rel='shortcut icon', href='/favicon.png')
    if !user
      link(rel='stylesheet', href='/css/main.css')
    else
      link(href='../assets/plugins/pace/pace-theme-flash.css', rel='stylesheet', type='text/css')
      link(href='../assets/plugins/boostrapv3/css/bootstrap.min.css', rel='stylesheet', type='text/css')
      link(href='../assets/plugins/font-awesome/css/font-awesome.css', rel='stylesheet', type='text/css')
      link(href='../assets/plugins/jquery-scrollbar/jquery.scrollbar.css', rel='stylesheet', type='text/css', media='screen')
      link(href='../pages/css/pages-icons.css', rel='stylesheet', type='text/css')
      link.main-stylesheet(href='../pages/css/pages.css', rel='stylesheet', type='text/css')
      //if lte IE 9
        link(href='../assets/plugins/codrops-dialogFx/dialog.ie.css', rel='stylesheet', type='text/css', media='screen')
  if user
    body.fixed-header.menu-pin.sidebar-visible(ng-app="TwikipediaClient")
  else
    body
    
      //- include partials/header

  .container
    block content

  include partials/footer
  
  if !user
    script(src='/js/lib/jquery-2.2.0.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/main.js')
  else
    script(src='../assets/plugins/pace/pace.min.js', type='text/javascript')
    script(src='../assets/plugins/jquery/jquery-1.11.1.min.js', type='text/javascript')
    script(src='../assets/plugins/modernizr.custom.js', type='text/javascript')
    script(src='../assets/plugins/boostrapv3/js/bootstrap.min.js')
    script(src='../assets/plugins/jquery/jquery-easy.js')
    script(src='../assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js')
    // END VENDOR JS
    // BEGIN CORE TEMPLATE JS
    script(src='../pages/js/pages.min.js')
    script(src='../lib/angular/angular.js')
    script(src='../lib/angular-ui-router/release/angular-ui-router.js')
    script(src='../lib/angular-sanitize/angular-sanitize.js')
    
    script(src='../app/client/app.js')
    script(src='../app/client/dashboard/dashboard.ctrl.js')
    script(src='../app/client/dashboard/dashboard.service.js')
    
    
   
  // Google Analytics: change UA-XXXXX-X to be your site's ID
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
