@import "themes/modern/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/bootstrap-social";
@import "lib/font-awesome/font-awesome";

@import "themes/modern/modern";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

#bg1 {
  background: url(https://unsplash.it/1366/768?image=816&blur) no-repeat center center fixed !important;
  background-size: cover !important;
  transition: ease 1s;
}

#bg2 {
  background: url(https://unsplash.it/1366/768?image=759&blur) no-repeat center center fixed !important;
  background-size: cover !important;
  transition: ease 1s;
}

#bg3 {
  background: url(https://unsplash.it/1366/768?image=579&blur) no-repeat center center fixed !important;
  background-size: cover !important;
  transition: ease 1s;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: absolute;
  top:0;
  width:100%;
  height:100%;
}

.flex-center {
  justify-content: center;
}

.flex-vcenter {
  align-items: center;
}