extends ../layout

block content
  h2 API Examples
  hr

  .row
    .col-sm-4
      a(href='/api/twitter', style='color: #fff')
        .panel.panel-default(style='background-color: #00abf0')
          .panel-body
            img(src='http://i.imgur.com/EYA2FO1.png', height=40)
            |  Twitter
    .col-sm-4
          a(href='/api/upload', style='color: #1565c0')
            .panel.panel-default(style='background-color: #fff')
              .panel-body
                img(src='http://i.imgur.com/UPTzIdC.png', height=40)
                |  File Upload
