<table>
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Status</th>
    <th>Twitter ID</th>
  </thead>
  <tr ng-repeat="user in user.userList">
    <td>{{user.profile.name}}</td>
    <td>{{user.email}}</td>
    <td>{{user.status}}</td>
    <td>{{user.twitter}}</td>
  </tr>
</table>