<h1>Prepros</h1>
<div class="clearfix"></div>
</div>
<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-hover" id="basicTable">
      <thead>
        <tr>
          <th>No</th>
          <th>Title</th>
          <th>Category</th>
          <th>Preprocessing Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="article in preprosView.articles">
          <td> {{$index+1}} </td>
          <td> {{article.title}} </td>
          <td> {{article.category.categoryName}}</td>
          <td ng-if="article.preStatus === true">
            <button class="btn btn-success" disabled="">Finished</button>
          </td>
          <td ng-if="article.preStatus === false">
            <button class="btn btn-danger" ng-click="preprosView.preproses(article._id)">Do Preprocessing</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>