<h1>Ini Crawl {{1+3}} </h1>
<button class="btn btn-primary" ng-click="crawl.save(crawl.data)">Save</button>
<div class="container">
  <div class="row">

    <select class="form-control" ng-model="crawl.categoryName" id="kategori" name="kategori">
      <option value="">Pilih Kategori</option>
      <option ng-repeat="w in crawl.kategori" value="{{w.categoryName}}">
        {{w.categoryName}}</option>
    </select>
    <div class="col-sm-6">
      <input type="text" id="wiki" class="form-control" placeholder="Cari.." ng-model="crawl.wiki">
    </div>
    <div class="col-sm-6">
      <button class="btn btn-primary" ng-click="crawl.search(crawl.wiki)">Search</button>
    </div>
  </div>
</div>

<div id="article">
</div>

<input type="text" ng-model="crawl.data.title">
<input type="text" ng-model="crawl.data.article">
<input type="text" ng-model="crawl.data.categoryName">
<input type="text" ng-model="crawl.data.subCategory">